* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: "Anton", sans-serif;
  letter-spacing: 3px;
}

p,
li {
  font-family: "Abel", sans-serif;
  font-size: 20px;
}

.container {
  width: 100%;
  height: 100vh;
}

nav {
  width: 15%;
  height: 100%;
  background-color: #85d47f;
  float: left;
}

main {
  width: 85%;
  height: 100%;
  background-color: aliceblue;
  float: right;
}

.menu {
  text-align: center;
  padding-top: 15%;
}

.menu img {
  width: 50%;
  border-radius: 50%;
  border: 5px solid #baf1b6;
}

.menu li {
  padding: 5%;
}

.menu a {
  color: aliceblue;
  text-decoration: none;
  font-weight: bold;
  max-width: 95%;
  font-size: 80%;
}

.menu a:hover {
  color: gray;
}

.content {
  margin-left: 2.5%;
  padding-top: 20%;
}

span {
  color: #85d47f;
}
span a {
  text-decoration: none;
  color: #85d47f;
}

span a:hover {
  color: gray;
}

.content p {
  padding-top: 1%;
}

.content img {
  width: 3%;
}

.icones a {
  padding-right: 1%;
}
.conhecimentos {
  margin-left: 2.5%;
  padding-top: 25%;
}
.conhecimentos ol {
  list-style-type: lower-alpha;
}

.objetivos {
  margin-left: 2.5%;
  padding-top: 25%;
}
